.list-group-item {
    border: 1px solid #0ee2e6;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 0.25rem;
}
.list-group-item:last-child {
    margin-bottom: 0;
}
.list-group-item:not(:first-child) {
    margin-bottom: 0;
    border-top: 0px;
}
.list-group-item + .list-group-item {
    margin-top: 0;
    border-top-width: 1px;
}