.list-group-item {
    border: 1px solid #0ee2e6;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 0.25rem;
}
.list-group-item:last-child {
    margin-bottom: 0;
}
.list-group-item:not(:first-child) {
    margin-bottom: 0;
    border-top: 0px;
}
.list-group-item + .list-group-item {
    margin-top: 0;
    border-top-width: 1px;
}
.bg-highlight { background-color: #0ffae6; } /* or your color */
.list-group-item.active { background-color: #4ff0ff; }

.list-group-item.even { background-color: #0a99ec; }
.list-group-item.odd  { background-color: #f9fdfdc7; }

/* optional: style active route */
.list-group-item.active { background-color: #dfefff; }
.list-group-item:hover {
    background-color: #2c0530c7;
}